<h1><b>
<%=gravatar_for @user%>
<font color="#8IRUH87"><%=@user.name%>
<br></font>
&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<font color="#8IRUH87"><%=@user.email%></font>
</h1></b>	
